<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Implements advanced algorithms and data structures">
    <meta name="keywords" content="Thymeleaf, Java, Spring Boot">
    <meta name="author" content="Sergio Oliveira">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Algo-Struct</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
  </head>



  <body>

    <header class="text-center mb-5">
      <h1>AlgoStruct</h1>
      <p class="lead">A portfolio project showcasing the journey of learning and implementing fundamental
        algorithms and data structures in Java.</p>
    </header>

    <main class="container mt-3">

      <div class="row row-cols-1 row-cols-md-4 g-4">

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Sorting</h5>
              <p class="card-text small text-muted mb-3">Compare performance of Sort Algoristhm with visualization.</p>
              <a href="/generate-and-sort/page" class="btn btn-dark  btn-sm">Explore</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Array Analysis</h5>
              <p class="card-text small text-muted mb-3">Linear Search, Find Min/Max and Duplicate Checks algorithms.</p>
              <a href="/generate-and-search/page" class="btn btn-dark btn-sm">Analyze</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Linked List</h5>
              <p class="card-text small text-muted mb-3">Basic implementation (insert end, display). More features coming soon!</p>
              <a href="/linked-list/page" class="btn btn-secondary btn-sm">View (Dev)</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

  </body>
</html>