<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Implements advanced algorithms and data structures">
        <meta name="keywords" content="Thymeleaf, Java, Spring Boot">
        <meta name="author" content="Sergio Oliveira">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Algo-Struct | Recursion</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
              crossorigin="anonymous">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" th:href="@{/index}">Home</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">

                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/generate-and-sort/page}">Sort Algorithms</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/generate-and-search/page}">Linear Search</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/linked-list/page}">Linked List</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/double-linked-list/page}">Double Linked List</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/recursion/page}">Recursion</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/binary-search-tree/page}">Binary Search Tree</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <div class="card">
                        <h4 class="card-header">Factorial</h4>
                        <div class="card-body">
                            <p>The Factorial of a positive integer n,
                                denoted by n!, is the product of
                                all positive integers smaller than or equal to n.
                            </p>

                            <form th:action="@{/recursion/factorial}" method="post">
                                <label for="factorialInput" class="form-label text-muted">Enter a number to calculate its factorial</label>
                                <div class="input-group">
                                    <input type="number" id="factorialInput" class="form-control" placeholder="Insert Number"
                                           name="number" min="1" max="50" required>
                                </div>
                                <button type="submit" class="btn btn-dark col-12 mt-3">Calculate</button>
                            </form>
                        </div> <!-- card-body -->
                    </div> <!-- card -->
                </div> <!-- col -->

                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <div class="card">
                        <h4 class="card-header">Fibonacci</h4>
                        <div class="card-body">
                            <p>The Fibonacci sequence is a series of numbers
                                where each number is the sum of the two preceding numbers.
                            </p>

                            <form th:action="@{/recursion/fibonacci}" method="post">
                                <div class="input-group">
                                    <label for="fibonacciInput" class="form-label text-muted">Enter a number to calculate the Fibonacci Sequence</label>
                                    <input type="number"  id="fibonacciInput" class="form-control" placeholder="Insert Number"
                                           name="number" min="1" max="50" aria-label="">
                                </div>
                                <button type="submit" class="btn btn-dark col-12 mt-3">Calculate</button>
                            </form>
                        </div> <!-- card-body -->
                    </div> <!-- card -->
                </div> <!-- col -->

                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <div class="card">
                        <h4 class="card-header">Reverse a Word</h4>
                        <div class="card-body">
                            <p>The method receives a string and returns this inverted string,
                                using only recursion (without using loops or the language’s ready-made
                                string inversion auxiliary methods).
                            </p>

                            <form th:action="@{/recursion/reverse}" method="post">
                                <div class="input-group">
                                    <input type="text"  id="reversedWord" class="form-control" placeholder="Enter a Word"
                                           name="word" aria-label="Reverse Word">
                                </div>
                                <button type="submit" class="btn btn-dark col-12 mt-3">Reverse</button>
                            </form>
                        </div> <!-- card-body -->
                    </div> <!-- card -->
                </div> <!-- col -->

            </div> <!-- row -->

            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <div class="card">
                        <h4 class="card-header">Reverse a Word</h4>
                        <div class="card-body">
                            <p>This method calculates "x" raised to the power of "n",
                                where "x" is the base and "n" is the exponent, using only recursion.
                            </p>

                            <form th:action="@{/recursion/power}" method="post">
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" placeholder="Enter the base 'x'"
                                           name="base" aria-label="Base">
                                </div>

                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Enter the exponent 'n'"
                                           name="exponent" aria-label="Exponent">
                                </div>
                                <button type="submit" class="btn btn-dark col-12 mt-3">Calculate</button>
                            </form>
                        </div> <!-- card-body -->
                    </div> <!-- card -->
                </div> <!-- col -->
            </div> <!-- row -->


            <!-- Output -->
            <div class="card mt-3">
                <h4 class="card-header">Output</h4>
                <div class="card-body">
                    <div th:if="${factorialnum != null}">
                        <p>The Factorial of <b th:text="${factorialnum}"></b> is: <b th:text="${factorial}"></b></p>
                        <ul>
                            <li th:each="step : ${steps}" th:text="${step}"></li>
                        </ul>
                    </div>

                    <div>
                        <div th:if="${fibonacciResult != null}">
                            <h3>Fibonacci Tesults</h3>
                            <p>The <b><span th:text="${fibonacciResult.enteredNum}"></span></b>º term of the Fibonacci sequence is: <b><span th:text="${fibonacciResult.result}"></span></b></p>

                            <h4>Steps of Recursion:</h4>
                            <ul style="list-style-type: none; padding-left: 0;"> <li th:each="step : ${fibonacciResult.steps}" th:text="${step}" style="font-family: monospace; white-space: pre;"></li>
                            </ul>
                        </div>
                        <div th:unless="${factorialnum != null || fibonacciResult != null || wordReversed != null || powerResult != null}">
                            <p>No calculation or word to reversed yet. Enter a number or a word to reverse.</p>
                        </div>
                    </div>

                    <div th:if="${powerResult != null}">
                        <p>The result of "<span th:text="${base}"></span> ^ <span th:text="${exponent}"></span>" is <span th:text="${powerResult}"></span></p>
                    </div>


                    <div th:if="${wordReversed != null}">
                        <p>Your word " <b><span th:text="${word}"></span></b> " reversed is: <b><span th:text="${wordReversed}"></span></b></p>
                    </div>

                </div>
            </div>
        </main>
    </body>
</html>